{% extends 'base.html.twig' %}

{% block title 'About US!' %}

{% block body %}
    <img src="{{ asset('images/bienvenue.jpg') }}" alt="tunisie" width="300px">
    <h1>Bienvenue chez projet d'Articles &hearts; </h1>
    <p>
        <a href="{{ path('app_home') }}">Revenir à la page d'accueil</a>
    </p>
{% endblock %}