{% extends 'base.html.twig' %}

{% block title 'Articles!' %}

{% block body %}
    <img src="{{ asset('images/tunisie.png') }}" alt="tunisie" class="rounded">
    <h1 class="mt-5 text-3xl sm:text-5xl font-semibold text-indigo-600">hello Tunisia</h1>
    <p> I's currently {{ 'now'|date('h:i A') }}</p>
{% endblock %}